




.secetion-container{
    @apply max-w-screen-2xl container mx-auto lg:px-24 px-4;
}

header{
    z-index: 10001 !important;
}

.subtitle{
    @apply text-lg uppercase font-medium tracking-wide text-rose-500
}

.title{
    @apply text-4xl md:text-5xl font-bold my-2 leading-snug md:leading-snug
}

.heartStar{
    border-radius: 0px 28px 0px 28px;
}

.active{
    color: aqua;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 32px;
    height: 16px;
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
  }
  .loader:before,
  .loader:after {
    content: "";
    flex: 1;
    background: #3FB8AF;
    transform-origin: top right;
    animation: l10-1 2s infinite;
  }
  .loader:after {
    background: #FF3D7F;
    transform-origin: top left;
    animation-delay: .25s;
  }
  @keyframes l10-1 {
     0%,5%    {transform: rotate(0)}
     20%,30%  {transform: rotate(90deg)}
     45%,55%  {transform: rotate(180deg)}
     70%,80%  {transform: rotate(270deg)}
     95%,100% {transform: rotate(360deg)}
  }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



